@tailwind base;
*::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

*::-webkit-scrollbar-track {
  @apply bg-gray-600 rounded;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

.scroll-container::-webkit-scrollbar {
 display: none;
}

.scroll-container:hover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
}

.scroll-container::-webkit-scrollbar-track {
  @apply bg-inherit rounded;
}

.scroll-container::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded;
}

@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
